<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Credit Score Classification Website</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Credit Score Classification</h1>
        <h2>Get Your Credit score classification results now</h2>
        <h3>It's absolutely free </h3>
        <hr><br><br>
        <img src="../static/credit_score_classification.jpeg" border="5" alt="Score Classification"><br>
        <p>Are you an Existing customer or a Guest?</p>
        <button onclick="window.location.href='/customer_screen'">Existing Customer</button>
        <button onclick="window.location.href='/guest_screen'">Guest User</button>
    </div>
    <hr>
    Your credit score is divided into 3 categories here:
        <ul>
            <li>1. Good</li>
            <li>2. Standard</li>
            <li>3. Poor</li>
        </ul>
</body>
</html>




